<a href="/catalog">Home</a>
<h1>Author: <%- author.name %></h1>
<p> <%- author.date_of_birth_formatted %> - <%- author.date_of_death_formatted %></p>
<div>
    <h4>Books</h4>
    <dl>
        <% author_books.forEach((book)=> { %>
            <dt><a href=<%- book.url%>> <%- book.title %></a></dt>
            <dd><%- book.summary %></dd>    
        <% }); %>
    </dl>
</div>
<p><a href=<%- author.url%>/delete >Delete Author</a></p>