<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    
    <h1><%=title%></h1>
    <p>Welcome to Local Library app</p>
    <h2>Dynamic Content</h2>
    
    <% if (error) { %>
      <p>Error getting dynamic content</p>
      <% } else { %>
        <p>the library has the following record counts:</p> 
        <ul>
          <li>Books:<%- data.book_count %></li>
          <li>Copies:<%- data.book_instance_count %></li>
          <li>Copies Available:<%- data.book_instance_available_count %></li>
          <li>Authors:<%- data.author_count %></li>
          <li>Genres:<%- data.genre_count %></li>
        </ul>

        <% } %>
        <ul>
          <li>
            <a href="/catalog">Home</a>
          </li>
          <li>
            <a href="/catalog/books">All books</a>
          </li>
          <li>
            <a href="/catalog/authors">All authors</a>
          </li>
          <li>
            <a href="/catalog/genres">All genres</a>
          </li>
          <li>
            <a href="/catalog/bookinstances">All book-instances</a>
          </li>
          <li>
            <a href="/catalog/author/create">Create new author</a>
          </li>
          <li>
            <a href="/catalog/genre/create">Create new genre</a>
          </li>
          <li>
            <a href="/catalog/book/create">Create new book</a>
          </li>
          <li>
            <a href="/catalog/bookinstance/create">Create new book instance (copy)</a>
          </li>
        </ul>
  </body>
</html>